/lambda-loader/skel/*.o
/lambda-loader/skel/*.so
/lambda-loader/skel/server

/lambda-loader/checker/*.o
/lambda-loader/checker/*.so
/lambda-loader/checker/client
lambda-loader/checker/ref/big
lambda-loader/checker/output
lambda-loader/checker/ref/test9
lambda-loader/skel/.gdb_history
