/lambda-loader/skel/*.o
/lambda-loader/skel/*.so
/lambda-loader/skel/server

/lambda-loader/checker/*.o
/lambda-loader/checker/*.so
/lambda-loader/checker/client
lambda-loader/checker/ref/big/test_1
lambda-loader/checker/ref/big/test_5
lambda-loader/checker/ref/big/test_9
lambda-loader/checker/ref/big/test_13
lambda-loader/checker/ref/big/test_17
lambda-loader/checker/ref/big/test_21
lambda-loader/checker/ref/big/test_25
lambda-loader/checker/ref/big/test_29
lambda-loader/checker/ref/big/test_33
lambda-loader/checker/ref/big/test_37
lambda-loader/checker/ref/big/test_41
lambda-loader/checker/ref/big/test_45
lambda-loader/checker/ref/big/test_49
lambda-loader/checker/ref/big/test_53
lambda-loader/checker/ref/big/test_57
lambda-loader/checker/ref/big/test_61
lambda-loader/checker/ref/big/test_65
lambda-loader/checker/ref/big/test_69
lambda-loader/checker/ref/big/test_73
lambda-loader/checker/ref/big/test_77
lambda-loader/checker/ref/big/test_81
lambda-loader/checker/ref/big/test_85
lambda-loader/checker/ref/big/test_89
lambda-loader/checker/ref/big/test_93
lambda-loader/checker/ref/big/test_97
lambda-loader/checker/ref/big/test_101
lambda-loader/checker/ref/big/test_105
lambda-loader/checker/ref/big/test_109
lambda-loader/checker/ref/big/test_113
lambda-loader/checker/ref/big/test_117
lambda-loader/checker/ref/big/test_121
lambda-loader/checker/ref/big/test_125
lambda-loader/checker/ref/big/test_129
lambda-loader/checker/ref/big/test_133
lambda-loader/checker/ref/big/test_137
lambda-loader/checker/ref/big/test_141
lambda-loader/checker/ref/big/test_145
lambda-loader/checker/ref/big/test_149
lambda-loader/checker/ref/big/test_153
lambda-loader/checker/ref/big/test_157
lambda-loader/checker/ref/big/test_161
lambda-loader/checker/ref/big/test_165
lambda-loader/checker/ref/big/test_169
lambda-loader/checker/ref/big/test_173
lambda-loader/checker/ref/big/test_177
lambda-loader/checker/ref/big/test_181
lambda-loader/checker/ref/big/test_185
lambda-loader/checker/ref/big/test_189
lambda-loader/checker/ref/big/test_193
lambda-loader/checker/ref/big/test_197
lambda-loader/checker/ref/big/test_201
lambda-loader/checker/ref/big/test_205
lambda-loader/checker/ref/big/test_209
lambda-loader/checker/ref/big/test_213
lambda-loader/checker/ref/big/test_217
lambda-loader/checker/ref/big/test_221
lambda-loader/checker/ref/big/test_225
lambda-loader/checker/ref/big/test_229
lambda-loader/checker/ref/big/test_233
lambda-loader/checker/ref/big/test_237
lambda-loader/checker/ref/big/test_241
lambda-loader/checker/ref/big/test_245
lambda-loader/checker/ref/big/test_249
lambda-loader/checker/ref/big/test_253
lambda-loader/checker/ref/big/test_257
lambda-loader/checker/ref/big/test_261
lambda-loader/checker/ref/big/test_265
lambda-loader/checker/ref/big/test_269
lambda-loader/checker/ref/big/test_273
lambda-loader/checker/ref/big/test_277
lambda-loader/checker/ref/big/test_281
lambda-loader/checker/ref/big/test_285
lambda-loader/checker/ref/big/test_289
lambda-loader/checker/ref/big/test_293
lambda-loader/checker/ref/big/test_297
lambda-loader/checker/ref/big/test_301
lambda-loader/checker/ref/big/test_305
lambda-loader/checker/ref/big/test_309
lambda-loader/checker/ref/big/test_313
lambda-loader/checker/ref/big/test_317
lambda-loader/checker/ref/big/test_321
lambda-loader/checker/ref/big/test_325
lambda-loader/checker/ref/big/test_329
lambda-loader/checker/ref/big/test_333
lambda-loader/checker/ref/big/test_337
lambda-loader/checker/ref/big/test_341
lambda-loader/checker/ref/big/test_345
lambda-loader/checker/ref/big/test_349
lambda-loader/checker/ref/big/test_353
lambda-loader/checker/ref/big/test_357
lambda-loader/checker/ref/big/test_361
lambda-loader/checker/ref/big/test_365
lambda-loader/checker/ref/big/test_369
lambda-loader/checker/ref/big/test_373
lambda-loader/checker/ref/big/test_377
lambda-loader/checker/ref/big/test_381
lambda-loader/checker/ref/big/test_385
lambda-loader/checker/ref/big/test_389
lambda-loader/checker/ref/big/test_393
lambda-loader/checker/ref/big/test_397
lambda-loader/checker/ref/big/test_401
lambda-loader/checker/ref/big/test_405
lambda-loader/checker/ref/big/test_409
lambda-loader/checker/ref/big/test_413
lambda-loader/checker/ref/big/test_417
lambda-loader/checker/ref/big/test_421
lambda-loader/checker/ref/big/test_425
lambda-loader/checker/ref/big/test_429
lambda-loader/checker/ref/big/test_433
lambda-loader/checker/ref/big/test_437
lambda-loader/checker/ref/big/test_441
lambda-loader/checker/ref/big/test_445
lambda-loader/checker/ref/big/test_449
lambda-loader/checker/ref/big/test_453
lambda-loader/checker/ref/big/test_457
lambda-loader/checker/ref/big/test_461
lambda-loader/checker/ref/big/test_465
lambda-loader/checker/ref/big/test_469
lambda-loader/checker/ref/big/test_473
lambda-loader/checker/ref/big/test_477
lambda-loader/checker/ref/big/test_481
lambda-loader/checker/ref/big/test_485
lambda-loader/checker/ref/big/test_489
lambda-loader/checker/ref/big/test_493
lambda-loader/checker/ref/big/test_497
lambda-loader/checker/ref/big/test_501
lambda-loader/checker/ref/big/test_505
lambda-loader/checker/ref/big/test_509
lambda-loader/checker/ref/big/test_513
lambda-loader/checker/ref/big/test_517
lambda-loader/checker/ref/big/test_521
lambda-loader/checker/ref/big/test_525
lambda-loader/checker/ref/big/test_529
lambda-loader/checker/ref/big/test_533
lambda-loader/checker/ref/big/test_537
lambda-loader/checker/ref/big/test_541
lambda-loader/checker/ref/big/test_545
lambda-loader/checker/ref/big/test_549
lambda-loader/checker/ref/big/test_553
lambda-loader/checker/ref/big/test_557
lambda-loader/checker/ref/big/test_561
lambda-loader/checker/ref/big/test_565
lambda-loader/checker/ref/big/test_569
lambda-loader/checker/ref/big/test_573
lambda-loader/checker/ref/big/test_577
lambda-loader/checker/ref/big/test_581
lambda-loader/checker/ref/big/test_585
lambda-loader/checker/ref/big/test_589
lambda-loader/checker/ref/big/test_593
lambda-loader/checker/ref/big/test_597
lambda-loader/checker/ref/big/test_601
lambda-loader/checker/ref/big/test_605
lambda-loader/checker/ref/big/test_609
lambda-loader/checker/ref/big/test_613
lambda-loader/checker/ref/big/test_617
lambda-loader/checker/ref/big/test_621
lambda-loader/checker/ref/big/test_625
lambda-loader/checker/ref/big/test_629
lambda-loader/checker/ref/big/test_633
lambda-loader/checker/ref/big/test_637
lambda-loader/checker/ref/big/test_641
lambda-loader/checker/ref/big/test_645
lambda-loader/checker/ref/big/test_649
lambda-loader/checker/ref/big/test_653
lambda-loader/checker/ref/big/test_657
lambda-loader/checker/ref/big/test_661
lambda-loader/checker/ref/big/test_665
lambda-loader/checker/ref/big/test_669
lambda-loader/checker/ref/big/test_673
lambda-loader/checker/ref/big/test_677
lambda-loader/checker/ref/big/test_681
lambda-loader/checker/ref/big/test_685
lambda-loader/checker/ref/big/test_689
lambda-loader/checker/ref/big/test_693
lambda-loader/checker/ref/big/test_697
lambda-loader/checker/ref/big/test_701
lambda-loader/checker/ref/big/test_705
lambda-loader/checker/ref/big/test_709
lambda-loader/checker/ref/big/test_713
lambda-loader/checker/ref/big/test_717
lambda-loader/checker/ref/big/test_721
lambda-loader/checker/ref/big/test_725
lambda-loader/checker/ref/big/test_729
lambda-loader/checker/ref/big/test_733
lambda-loader/checker/ref/big/test_737
lambda-loader/checker/ref/big/test_741
lambda-loader/checker/ref/big/test_745
lambda-loader/checker/ref/big/test_749
lambda-loader/checker/ref/big/test_753
lambda-loader/checker/ref/big/test_757
lambda-loader/checker/ref/big/test_761
lambda-loader/checker/ref/big/test_765
lambda-loader/checker/ref/big/test_769
lambda-loader/checker/ref/big/test_773
lambda-loader/checker/ref/big/test_777
lambda-loader/checker/ref/big/test_781
lambda-loader/checker/ref/big/test_785
lambda-loader/checker/ref/big/test_789
lambda-loader/checker/ref/big/test_793
lambda-loader/checker/ref/big/test_797
lambda-loader/checker/ref/big/test_801
lambda-loader/checker/ref/big/test_805
lambda-loader/checker/ref/big/test_809
lambda-loader/checker/ref/big/test_813
lambda-loader/checker/ref/big/test_817
lambda-loader/checker/ref/big/test_821
lambda-loader/checker/ref/big/test_825
lambda-loader/checker/ref/big/test_829
lambda-loader/checker/ref/big/test_833
lambda-loader/checker/ref/big/test_837
lambda-loader/checker/ref/big/test_841
lambda-loader/checker/ref/big/test_845
lambda-loader/checker/ref/big/test_849
lambda-loader/checker/ref/big/test_853
lambda-loader/checker/ref/big/test_857
lambda-loader/checker/ref/big/test_861
lambda-loader/checker/ref/big/test_865
lambda-loader/checker/ref/big/test_869
lambda-loader/checker/ref/big/test_873
lambda-loader/checker/ref/big/test_877
lambda-loader/checker/ref/big/test_881
lambda-loader/checker/ref/big/test_885
lambda-loader/checker/ref/big/test_889
lambda-loader/checker/ref/big/test_893
lambda-loader/checker/ref/big/test_897
lambda-loader/checker/ref/big/test_901
lambda-loader/checker/ref/big/test_905
lambda-loader/checker/ref/big/test_909
lambda-loader/checker/ref/big/test_913
lambda-loader/checker/ref/big/test_917
lambda-loader/checker/ref/big/test_921
lambda-loader/checker/ref/big/test_925
lambda-loader/checker/ref/big/test_929
lambda-loader/checker/ref/big/test_933
lambda-loader/checker/ref/big/test_937
lambda-loader/checker/ref/big/test_941
lambda-loader/checker/ref/big/test_945
lambda-loader/checker/ref/big/test_949
lambda-loader/checker/ref/big/test_953
lambda-loader/checker/ref/big/test_957
lambda-loader/checker/ref/big/test_961
lambda-loader/checker/ref/big/test_965
lambda-loader/checker/ref/big/test_969
lambda-loader/checker/ref/big/test_973
lambda-loader/checker/ref/big/test_977
lambda-loader/checker/ref/big/test_981
lambda-loader/checker/ref/big/test_985
lambda-loader/checker/ref/big/test_989
lambda-loader/checker/ref/big/test_993
lambda-loader/checker/ref/big/test_997
lambda-loader/checker/output/server.out
lambda-loader/checker/output/test1-1.err
lambda-loader/checker/output/test1-1.out
lambda-loader/checker/output/test1.err
lambda-loader/checker/output/test1.out
lambda-loader/checker/ref/test9
